@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Karla:wght@700&display=swap');


.App, button {
  text-align: center;
  font-family: 'Inter', 'Trebuchet MS', Helvetica, sans-serif;
}
.check-answers-btn {
  background-color: #4D5B9E;
  color: #F5F7FB;
  padding: 1em;
  border-radius: 1em;
  border: none;
  font-size: .75em;
  font-weight: 500;
  margin: 1em auto;
}

.quiz-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  color: #293264;
}

.question-container {
  border-bottom: 2px solid #DBDEF0;
}

.question-container h3 {
  font-size: 1em;
  font-weight: light;
  font-family: 'Karla','Inter','Trebuchet MS',Helvetica, sans-serif;
  text-align: left;
}

.options-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.answer-option {
  font-size: .625em;
  padding: .5em .75em;
  border-radius: .75em;
  font-weight: 500;
}

.selected-answer {
  background-color: #D6DBF5;
}

.option {
  border: 1px solid #4D5B9E;
}

.active {
  cursor: pointer;
}

.active-option:hover {
  background-color: #e4e7f5;
}

.inactive {
  opacity: 50%;
}

.correct-answer {
  background-color: #94D7A2;
}

.incorrect-answer {
  background-color: #F8BCBC;
}


.blob {
  position: absolute;
  z-index: .5;
}

.yellow {
  top: 0;
  right: 0;
}

.blue {
  bottom: 0;
  left: 0;
}